@model ApplicationTracker.Models.Application

@{
    ViewData["Title"] = "CreateApplication";
}

<h1>Create a New Application</h1>

<h4>Enter relevant application data. Most fields are optional.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateApplication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionTitle" class="control-label"></label>
                <input asp-for="PositionTitle" class="form-control" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateApplied" class="control-label"></label>
                <input asp-for="DateApplied" class="form-control" />
                <span asp-validation-for="DateApplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumeUsed" class="control-label"></label>
                <input asp-for="ResumeUsed" class="form-control" />
                <span asp-validation-for="ResumeUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverLetter" class="control-label"></label>
                <input asp-for="CoverLetter" class="form-control" />
                <span asp-validation-for="CoverLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryRequested" class="control-label"></label>
                <input asp-for="SalaryRequested" class="form-control" />
                <span asp-validation-for="SalaryRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequistionNumber" class="control-label"></label>
                <input asp-for="RequistionNumber" class="form-control" />
                <span asp-validation-for="RequistionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobUrl" class="control-label"></label>
                <input asp-for="JobUrl" class="form-control" />
                <span asp-validation-for="JobUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationStatus" class="control-label"></label>
                <select asp-for="ApplicationStatus" name="ApplicationStatus">
                    @*<option value="InProgress">Application in Progress</option>*@
                    <option value="Submitted">Submitted</option>
                    <option value="FollowedUp">Followed Up</option>
                    <option value="Interview">Interview</option>
                    <option value="Archive">Archived</option>
                </select>
                <span asp-validation-for="ApplicationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobInformation.PositionSummary" class="control-label"></label>
                <input asp-for="JobInformation.PositionSummary" class="form-control" />
                <span asp-validation-for="JobInformation.PositionSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobInformation.JobSalary" class="control-label"></label>
                <input asp-for="JobInformation.JobSalary" class="form-control" />
                <span asp-validation-for="JobInformation.JobSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobInformation.FullTime" class="control-label"></label>
                <input asp-for="JobInformation.FullTime" class="form-control" />
                <span asp-validation-for="JobInformation.FullTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobInformation.Contract" class="control-label"></label>
                <input asp-for="JobInformation.Contract" class="form-control" />
                <span asp-validation-for="JobInformation.Contract" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="JobInformation.Shift" class="control-label"></label>
                <input asp-for="JobInformation.Shift" class="form-control" />
                <span asp-validation-for="JobInformation.Shift" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Network.NetworkFirstName" class="control-label"></label>
                <input asp-for="Network.NetworkFirstName" class="form-control" />
                <span asp-validation-for="Network.NetworkFirstName" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Network.NetworkLastName" class="control-label"></label>
                <input asp-for="Network.NetworkLastName" class="form-control" />
                <span asp-validation-for="Network.NetworkLastName" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Network.NetworkPosition" class="control-label"></label>
                <input asp-for="Network.NetworkPosition" class="form-control" />
                <span asp-validation-for="Network.NetworkPosition" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Company.OfficeLocation" class="control-label"></label>
                <input asp-for="Company.OfficeLocation" class="form-control" />
                <span asp-validation-for="Company.OfficeLocation" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Company.Address.StreetAddress" class="control-label"></label>
                <input asp-for="Company.Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Company.Address.StreetAddress" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Company.Address.City" class="control-label"></label>
                <input asp-for="Company.Address.City" class="form-control" />
                <span asp-validation-for="Company.Address.City" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Company.Address.State" class="control-label"></label>
                <input asp-for="Company.Address.State" class="form-control" />
                <span asp-validation-for="Company.Address.State" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Company.Address.ZipCode" class="control-label"></label>
                <input asp-for="Company.Address.ZipCode" class="form-control" />
                <span asp-validation-for="Company.Address.ZipCode" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Company.CompanyNote.Description" class="control-label"></label>
                <input asp-for="Company.CompanyNote.Description" class="form-control" />
                <span asp-validation-for="Company.CompanyNote.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyNote.Product" class="control-label"></label>
                <input asp-for="Company.CompanyNote.Product" class="form-control" />
                <span asp-validation-for="Company.CompanyNote.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyNote.Culture" class="control-label"></label>
                <input asp-for="Company.CompanyNote.Culture" class="form-control" />
                <span asp-validation-for="Company.CompanyNote.Culture" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Company.CompanyNote.RecentNews" class="control-label"></label>
                <input asp-for="Company.CompanyNote.RecentNews" class="form-control" />
                <span asp-validation-for="Company.CompanyNote.RecentNews" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Company.CompanyNote.Charity" class="control-label"></label>
                <input asp-for="Company.CompanyNote.Charity" class="form-control" />
                <span asp-validation-for="Company.CompanyNote.Charity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Week in Preview</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
