@model ApplicationTracker.Models.Application

@{
    ViewData["Title"] = "CreateApplication";
}

<h1>Create Application</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateApplication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionTitle" class="control-label"></label>
                <input asp-for="PositionTitle" class="form-control" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateApplied" class="control-label"></label>
                <input asp-for="DateApplied" class="form-control" />
                <span asp-validation-for="DateApplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumeUsed" class="control-label"></label>
                <input asp-for="ResumeUsed" class="form-control" />
                <span asp-validation-for="ResumeUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverLetter" class="control-label"></label>
                <input asp-for="CoverLetter" class="form-control" />
                <span asp-validation-for="CoverLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryRequested" class="control-label"></label>
                <input asp-for="SalaryRequested" class="form-control" />
                <span asp-validation-for="SalaryRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequistionNumber" class="control-label"></label>
                <input asp-for="RequistionNumber" class="form-control" />
                <span asp-validation-for="RequistionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobUrl" class="control-label"></label>
                <input asp-for="JobUrl" class="form-control" />
                <span asp-validation-for="JobUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationStatus" class="control-label"></label>
                <input asp-for="ApplicationStatus" class="form-control" />
                <span asp-validation-for="ApplicationStatus" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationId" class="form-control" />
                <span asp-validation-for="ApplicationId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkId" class="control-label"></label>
                <input asp-for="NetworkId" class="form-control" />
                <span asp-validation-for="NetworkId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="ApplicantId" class="control-label"></label>
                <input asp-for="ApplicantId" class="form-control" />
                <span asp-validation-for="ApplicantId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="JobInfoId" class="control-label"></label>
                <input asp-for="JobInfoId" class="form-control" />
                <span asp-validation-for="JobInfoId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
