@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Application Tracker</h1>
    <br />
    <br />
    <p>Track your job applications and interviews</p>
    <p>Practice interview questions</p>
</div>
